
* annex.backend=MD5E
**/.git* annex.largefiles=nothing
**/.github** annex.largefiles=nothing

CHANGELOG.md annex.largefiles=nothing
README.md annex.largefiles=nothing
**/.pre-commit-config.yaml annex.largefiles=nothing

