* annex.backend=MD5E
**/.git* annex.largefiles=nothing

.github/workflows/* annex.largefiles=nothing
.github/* annex.largefiles=nothing

*.yaml annex.largefiles=nothing
*.md annex.largefiles=nothing
*.sh annex.largefiles=nothing
